body {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab';
    font-weight: 300;
    margin-top: 0px;
    margin-left: 0;

    #title {
        font-size: 35px;
        margin-bottom: 0px;
        margin-top: 20px;
        text-align: center;
        
        h1 {
            font-weight: 300;
            letter-spacing: 7px;
            font-family: 'Roboto Slab';
            margin-bottom: 0px;
            font-size: 83px;
        }

        h3 {
            font-size: 18px;
            font-weight: 200;
            color: #26C6DA;
            margin-bottom: 0px;
            margin-top: 20px;
            letter-spacing: 1px;
        }

        #login-button {
            margin-top: 50px;
        }
    }

    nav {
        background-color: #FFF;
        box-shadow: none;
        border-bottom: 1px solid #BDBDBD;

        .brand-logo {
            color: #26C6DA;
        }

        ul a {
           color: #26C6DA; 
        }

        #logo {
            font-size: 50px;
            margin-left: 92px;
            font-weight: 600;
            color: #000;
        }

        #search {
            position: absolute; 
            height: 100%;
            width: 600px;
            top: 0;
            left: 50%;
            margin-left: -300px;
            font-size: 35px;
            outline: none;
            font-family: 'Roboto Slab';
            font-weight: 100;
            padding-left: 10px;
            padding-right: 10px;
            border: none;
            color: #000;
        }
        
        .navUserCountContainer {
            color: #000;
            line-height: 1.2;
            text-align: center;
            margin-top: 15px;
            margin-right: 5px;
            margin-left: 5px;

            .countName {
                line-height: 0;
                font-size: 12px;
            }
        }

        #userPcontainer {
            margin-right: 82px;

            #userProfilePictureContainer {
                margin-top: 7px;
                margin-right: 82px;

                #userImage {
                    width: 50px;
                    height: 50px;
                    border-radius: 3px;
                }
            }
        }
    }

    #info {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: #f1f4f4;

        #img-spinner {
            position: absolute;
            left: 50%;
            margin-top: 260px;
            margin-left: -130px;
        } 

        #container {
            text-align: center;
            margin-bottom: 50px;
            margin-top: 20px;

            .git-cards {
                border: 1px solid black;
                list-style-type: none;
                width: 410px;
                height: 210px;
                font-family: 'Roboto Slab';
                overflow: hidden;
                border-radius: 4px;
                margin-left: 15px;
                margin-right: 4px;
                border-color: #ccc;
                margin-bottom: 15px;
                display: inline-block;
                text-align: left;
                padding: 0px;

                &:hover {
                    z-index: 2;
                }

                .date {
                    margin-left: 140px;
                    margin-top: 0px;
                    color: rgb(176, 175, 175);
                }

                .profile {
                    list-style-type: none;
                    border-style: hidden;
                    border-radius: 4px;
                    position: absolute;
                    margin-left: 20px;
                    margin-top: 20px;
                    max-width: 100px;
                    max-height: 100px;
                    box-shadow: 0px 0px 2px rgba(0, 0, 0, .45);
                    border-radius: 3px;
                }

                .name {
                    margin-left: 140px;
                    margin-top: 20px;
                    margin-bottom: 0px;
                    font-size: 25px;
                    color: #616161;
                    text-decoration: none;
                }

                .star {
                    margin-left: 140px;
                    color: #FFC400;
                }

                .watch {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    margin-left: 5px;
                    font-weight: 300;
                    font-family: 'Roboto Slab';
                    display: inline-block;
                    text-decoration: none;
                    color: #616161;

                    &:hover {
                        color: #BDBDBD;
                    }
                }

                .repo {
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-bottom: 0px;
                    margin-top: 15px;
                    font-size: 20px;
                    color: #616161;

                    &:hover {
                        color: #BDBDBD;
                    }
                }

                .msg {
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-bottom: 0px;
                    margin-top: 10px;
                    font-size: 12px;
                    color: #9E9E9E;
                }

                .hidden {
                    display: none;
                }
            }
        }
    }

    .footr {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30px;
        background-color: #FFF;
        color: #9E9;
        border-top: 1px solid #BDBDBD;

        p {
            position: absolute;
            margin-top: 5px;
            margin-left: -70px;
            left: 50%;
            color: #424242;

            .plink {
                text-decoration: none;
                color: #616161;

                &:hover {
                    text-decoration: none;
                    color: #9E9E9E;
                    cursor: pointer;
                }
            }

            i {
                color: #B71C1C;

                &:hover {
                    color: #C62828;
                }
            }
        }
    }

}
