body {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab';
    font-weight:300; 
}

#info {
    position: absolute;
    height: 100%;
    width: 100%;
}

#title {
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 20px;
}

#title h1 {
    font-weight: 100;
    font-family: 'Roboto Slab'; 
    margin-bottom: 0px;
    font-size: 83px;
}

#search {
    position: absolute;
    height: 40px;
    width: 600px;
    top: 5%;
    left: 50%;
    margin-left: -300px;

    font-size: 20px;
    text-align: center;
    outline: none;
    font-family: 'Roboto Slab';
    font-weight: 100;
}

#profile {
    list-style-type: none;
    border-style: hidden; 
    border-radius: 4px;
    position:absolute;
    margin-left: 20px;
    margin-top: 20px;
    max-width: 100px;
    max-height: 100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
    border-radius: 0px;
}

#repo {
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 45px;
    font-size: 20px;
    color: #616161;
}


#repo a {
    color: #616161;
    text-decoration: none;
}

#repo a:hover {
    color: #BDBDBD;
}

#msg {
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 12px;
    color: #9E9E9E;
}

.git-cards {
    border: 1px solid black;
    list-style-type: none;
    width: 410px;
    height: 210px; 
    font-family: 'Roboto Slab';
    overflow: auto;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
    margin-left: 5px;
    margin-right: 5px;
    border-color: #ccc;
    margin-bottom: 55px;
    display: inline-block;
    text-align: left;
}

li:hover { 
    box-shadow: 0px 0px 10px #00BCD4;
    z-index:2;
}

#container {
    text-align: center;
    margin-bottom: 50px;
    margin-top:125px;
}

#name {
    margin-left: 140px;
    margin-top: 20px;
}

#name a {
    font-size: 25px;
    color: #616161;
    text-decoration: none;
}

#name a:hover {
    color: #BDBDBD;
}

#date {
    margin-left: 140px;
    color: rgb(176, 175, 175);
}

.footr {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #EEEEEE;
}

.footr p {
    position: absolute;
    margin-top: 5px;
    margin-left: -70px;
    left: 50%;
    color: #424242;
}

.plink {
    text-decoration: none;
    color: #616161;
}

.plink:hover {
    text-decoration: none;
    color: #9E9E9E;
    cursor: pointer;
}

i {
    color: #B71C1C; 
}

i:hover {
    color: #C62828;
}

.card-panel {
    padding: 0px;
    margin-left: 15px;
    margin-bottom: 15px;

}

#img-spinner {
    position: absolute;
    left: 50%;
    margin-top: 170px;
    margin-left: -150px;
}
