body {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab'; 
}

#info {
    position: absolute;
    height: 100%;
    width: 100%;
}

#title {
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 20px;
}

#title h1 {
    font-weight: 100;
    font-family: 'Roboto Slab'; 
    margin-bottom: 0px;
}

#search {
    position: absolute;
    height: 40px;
    width: 600px;
    top: 5%;
    left: 50%;
    margin-left: -300px;

    font-size: 20px;
    text-align: center;
    outline: none;
    font-family: 'Roboto Slab';
    font-weight: 100;
}

#profile {
    border-style: hidden; 
    position:absolute;
    height: 250px;
    width: 250px;
    margin-left: 50px; 
}

#repo {
    margin-left: 350px;
    margin-bottom: 0px;
    margin-top: 150px; 
}

#msg {
     margin-left: 350px;
     margin-bottom: 0px;
}
