body {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab';
    font-weight:300; 
}

#info {
    position: absolute;
    height: 100%;
    width: 100%;
}

#title {
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 20px;
}

#title h1 {
    font-weight: 100;
    font-family: 'Roboto Slab'; 
    margin-bottom: 0px;
    font-size: 83px;
}

#search {
    position: absolute;
    height: 40px;
    width: 600px;
    top: 5%;
    left: 50%;
    margin-left: -300px;

    font-size: 20px;
    text-align: center;
    outline: none;
    font-family: 'Roboto Slab';
    font-weight: 100;
}

#profile {
    list-style-type: none;
    border-style: hidden; 
    border-radius: 4px;
    position:absolute;
    margin-left: 20px;
    margin-top: 20px;
    max-width: 125px;
    max-height: 125px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
}

#repo {
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 50px;
    font-size: 20px; 
}

#msg {
     margin-left: 20px;
     margin-bottom: 0px;
     margin-top: 10px;
     font-size: 12px;
}

li {
   border: 1px solid black;
   list-style-type: none;
   width: 430px;
   height: 240px; 
   font-family: 'Roboto Slab';
   overflow: auto;
   border-radius: 4px;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
   margin-left: 10px;
   border-color: #ccc;
   margin-bottom: 10px;
}

li:hover { 
   box-shadow: 0px 0px 10px rgba(117, 211, 255, 1) ;
   z-index:2;
}

#container {
    width: 100%;
    height: 250px;
    margin-top:125px;
    padding-left:50px;
    padding-right:50px;
}

#name {
    margin-left: 160px;
    margin-top: 20px;
    font-size: 25px;
}

#date {
    margin-left: 160px;
    color: rgb(176, 175, 175);
}


