<!DOCTYPE html>
<html>
    <head>
        <!-- TODO move assests to seperate dir/ consider minifying css -->
        <link rel="stylesheet" type="text/css" href="./css/roboto-slab-stylesheet.css">
        <link rel="stylesheet" type="text/css" href="./css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="./css/main.css">
		<link rel="stylesheet" type="text/css" href="./css/animate.css">
 		<link rel="stylesheet" type="text/css" href="./css/font-awesome-4.5.0/css/font-awesome.min.css">
        <title>Github - Dashboard</title>
    </head>
    <body>
  		<nav>
    		<div class="nav-wrapper">
      			<a href="https://github.com/shikkic/gitDash" id="logo" class="brand-logo">GitDash</a>
        		<input id="search" placeholder="Enter a friend's github username"/>
      			<ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="navUserCountContainer">
                        <a class="countNum" id="userFollowerCount">--</a>
                        <span class="countName">Contributions</span>
                    </li>
                    <li class="navUserCountContainer">
                        <a class="countNum" id="userFollowingCount">--</a>
                        <span class="countName">Longest Streak</span>
                    </li>
                    <li class="navUserCountContainer">
                        <a class="countNum" id="publicRepoCount">--</a>
                        <span class="countName">Current Streak</span>
                    </li>
                    <li id="userPcontainer">
                        <div id="userProfilePictureContainer">
                            <img id="userImage" src="{{data.avatar_url}}"/>
                        </div>
                    </li>
				</ul>

			</div>
 		</nav>
        <section id="info">
			<div class="preloader-wrapper big active spinner" id="spinner" style="display:none;">
				<div class="spinner-layer spinner-blue-only img-spinner">
				    <div class="circle-clipper left">
					    <div class="circle"></div>
				    </div><div class="gap-patch">
					<div class="circle"></div>
				    </div><div class="circle-clipper right">
					    <div class="circle"></div>
				    </div>
				</div>
			</div>
            <ul id="container" class="list-inline"></ul>
        </section>
        <footer class="footr">
            <p> Made with <i class="fa fa-heart"></i> by <a class="plink" href='http://www.github.com/Shikkic'</a>Shikkic</p>
        </footer>
    </body>
	<script data-main="js/config" src="js/lib/require.js"></script>
</html>
