<li id='{{userID}}' class='col s4 truncate card-panel hoverable animated zoomIn git-cards'>
	<a target='_blank' href='http://github.com/{{user}}'>
		<img class="profile" src={{imgUrl}}/>
		<p class='name'>{{user}}</p>
	</a>
	<p class='date'>{{date}}</p>
	<i class='fa fa-star star {{#watch}}{{/watch}}{{^watch}}hidden{{/watch}}'></i>
	<a target='_blank' href='{{watchUrl}}'>
		<p class='watch {{#watch}}{{/watch}}{{^watch}}hidden{{/watch}}'>{{#watch}}{{watch}}{{/watch}}</p>
	</a>
	<a target='_blank' href='https://github.com/{{repoName}}'>
		<p class='repo truncate'>{{repoName}}</p>
	</a>
	<a target='_blank' href='{{commitUrl}}'>
		<p class='msg truncate'>{{commitSha}} {{commitMsg}}</p>
	</a>
</li>